/**
* WebsiteNI Joints
* WebsiteNI Starter Theme built on JointsWP; http://jointswp.com/.
* Created by WebsiteNI.
*/

/**
* _header - Small.
*/


.cookie{
	img{
		height: 30px;   
		width: 30px;
	}
}
.cookie-policy{
	width: calc(100% - .625rem* 2);
    max-width: 480px;
    padding: 20px;
    left: .625rem; 
    bottom: .625rem;
    position: fixed;
    background-color: $white;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, .5);
    z-index: 9999999;    
}


.navigation {
	padding: 10px 0px;
	background-color: get-color(primary);
	position: relative;
	z-index: 9;
	.hamburger {
		padding: 0;
		display: flex;
		outline: 0;
		z-index: 2;
		.hamburger-box {
			width: 25px;
			height: 18px;

			.hamburger-inner {
				width: 25px;
				height: 2px;
				background-color: get-color(white);
				border-radius: 0;

				&:before,
				&:after {
					width: 25px;
					height: 2px;
					background-color: get-color(white);
					border-radius: 0;
				}

				&:before {
					width: 20px;
					top: 8px;
				}

				&:after {
					top: 16px;
				}
			}
		}
		&.is-active {
			top: -2px;
			left: 3px;
			position: relative;

			.hamburger-box {
				.hamburger-inner {
					&:after {
						transform: translate3d(0px, -16px, 0px) rotate(-90deg);
					}
				}
			}
		}
	}
	.search-open {
		margin-right: 15px;
	}
}

.navigation-overlay {
	//padding-top: 50px;
	padding: 0 20px;
	width: calc(100% - 25px - .625rem * 2);
	height: 100%;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	position: fixed;
	background-color: get-color(white);
	box-shadow: 2.5px 0px 25px transparent;
	overflow-x: hidden;
	overflow-y: scroll;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	transition: .8s cubic-bezier(0.51, 0.18, 0, 0.88);
	&.is-active {
		opacity: 1;
		visibility: visible;
	}
	nav {
		top: 0px;
		position: relative;
		z-index: 2;
		.close {
			position: absolute;
			right: 0;
			top: 30px;
			width: 100%;
			text-align: right;
		}
		ul {
			margin: 0;
			
			list-style-type: none;
			&.primary-menu {
				padding-top: 130px;
			}
			li {
				position: relative;
				display: block;
				border-bottom: 1px solid rgba(255,255,255,0.3);
				//visibility: hidden;
				&.menu-item-has-children:before {
					right: 3px;
					display: block;
					cursor: pointer;
					z-index: -1;
					top: 17px;
					width: 15px;
					height: 15px;
					display: block;
					position: absolute;
					content: "";
					background-position: 50%;
					background-size: contain;
					background-image: url(../images/header/arrow.svg);
				}
				a {
					display: block;
					color: get-color(black);
					padding: 6px 0;
					font-size: 16px;
					line-height: 40px;
				}
			}
		}
		ul.sub-menu {
			height: 0;
			visibility: hidden;
			opacity: 0;
			transition: .7s ease-in-out;
			li {
				border-bottom: 0px;
				a {
					padding: 0px;
				}
			}
			&.sub-menu-is-active {
				height: 100%;
				visibility: visible;
				opacity: 1;
				padding: 0 0 15px 10px;
			}
		}
	}
}

/**
* _header - Medium.
*/
@media screen and (min-width: 640px) {
	.wrapper.hamburger-is-active .wrapper-inner {
        transform: translate3d(400px,0,0) scaleX(1);
    } 
    .navigation-overlay {
        width: 400px;
    }   
}

/**
* _header - Large.
*/
@media screen and (min-width: 1024px) {
    .navigation {
    	padding: 0;
    	nav {
    		> div {
    			padding-right: 20px;
    		}
    		ul {
    			margin: 0;
    			li {
    				display: inline-block;
    				position: relative;
    				height: 80px;
    				margin: 0;
    				padding: 0;
    				padding: 28px 10px;
    				ul.sub-menu {
    					position: absolute;
						left: 0;
						top: 80px; // same height as li
						margin: 0;						
						background-color: get-color(primary);
						opacity: 0;
						visibility: hidden;
						transition: .5s cubic-bezier(0.51, 0.18, 0, 0.88);
						height: auto;
						width: 180px;
						li {
							padding: 0;
							height: auto;
							width: 100%;
							transition: $transition;
							&:hover {
								background-color: get-color(secondary);
							}
							a {
								padding: 15px;	
								opacity: 0;		
								border-bottom: 1px solid rgba(255,255,255,0.3);		
								height: auto;	
								display: block;
								&:before,
									&:after {
									content: none; 
								}
							}
						}
					}
					&.menu-item-has-children {
						&:hover {
							ul {
								top: 80px;
								opacity: 1;
								visibility: visible;
								@for $i from 1 through 12 {
									li {
										&:nth-child(#{$i}) {
											a {
												animation: fadeIn .5s cubic-bezier(.51,.18,0,.88) $i * (.125s) forwards;
											}
										}
									}
								}
							}
						}
					}
    				a {
    					padding: 2px 0px 2px 0px;
						position: relative;
						display: block;
						color: get-color(white);
						// font-family: $menu;
						font-size: 16px;
						line-height: 1;						
						&:before,
						&:after {
							width: 0;
							height: 2px;
							top: calc(100% + 3px);
							right: 0;
							position: absolute;
							content: '';
						}

						&:before {							
							transition: width .5s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
						}

						&:after {
							background-color: get-color(white);
							transition: width .25s cubic-bezier(0.29, 0.18, 0.26, 0.83);
						}

						&:hover {
							&:before,
							&:after {
								width: 100%;
								left: 0;
							}
						}
    				}
    			}
    		}
    	}
    }
}

/**
* _header - XL.
*/
@media screen and (min-width: 1200px) {
    
}

/**
* _header - XXL.
*/
@media screen and (min-width: 1440px) {
    
}