/**
* WebsiteNI Joints
* WebsiteNI Starter Theme built on JointsWP; http://jointswp.com/.
* Created by WebsiteNI.
*/

/**
* _colours - Small.
*/
/* Colours. */
$white: 			#FFFFFF;
$mediumGrey: 		#CCCCCC;
$black: 			#0A0A0A;

.fontcolourwhite {
	color: $white;	
}

// $companyColour:		#;

/**
* _colours - Medium.
*/
@media screen and (min-width: 640px) {
    
}

/**
* _colours - Large.
*/
@media screen and (min-width: 1024px) {
    
}

/**
* _colours - XL.
*/
@media screen and (min-width: 1200px) {
    
}

/**
* _colours - XXL.
*/
@media screen and (min-width: 1440px) {
    
}