/**
* WebsiteNI Joints
* WebsiteNI Starter Theme built on JointsWP; http://jointswp.com/.
* Created by WebsiteNI.
*/
/**
* _variables - Small.
*/
$spacingSmall: 50px;
$spacingMedium: 70px;
$spacingLarge: 85px;
$spacingXLarge: 140px;

$transition: 0.4s cubic-bezier(0.51,0.18,0,0.88);
$imgTransition: .6s cubic-bezier(0.51,0.18,0,0.88);

//PADDING SPACING
.paddingtopsml {
	padding-top: $spacingSmall;
}
.paddingbottomsml {
	padding-bottom: $spacingSmall;
}
.paddingtopmed {
	padding-top: $spacingSmall;
}
.paddingbottommed {
	padding-bottom: $spacingSmall;
}
.paddingtoplrg {
	padding-top: $spacingSmall;
}
.paddingbottomlrg {
	padding-bottom: $spacingSmall;
}
.paddingtopxlrg {
	padding-top: $spacingSmall;
}
.paddingbottomxlrg {
	padding-bottom: $spacingSmall;
}

//MARGIN SPACING
.margintopsml {
	margin-top: $spacingSmall;
}
.marginbottomsml {
	margin-bottom: $spacingSmall;
}
.margintopmed {
	margin-top: $spacingSmall;
}
.marginbottommed {
	margin-bottom: $spacingSmall;
}
.margintoplrg {
	margin-top: $spacingSmall;
}
.marginbottomlrg {
	margin-bottom: $spacingSmall;
}
.margintopxlrg {
	margin-top: $spacingSmall;
}
.marginbottomxlrg {
	margin-bottom: $spacingSmall;
}
.nomarginbottom {
	margin-bottom: 0;
}

//USEFUL FOR MOBILE RESPONSIVENESS
.marginbottomsmlscreens {
	margin-bottom: $spacingSmall;
}
.margintopsmlscreens {
	margin-bottom: $spacingSmall;
}
.marginbottomsmlscreensonly {
	margin-bottom: $spacingSmall;
}
.margintopsmlscreensonly {
	margin-bottom: $spacingSmall;
}
/**
* _variables - Medium.
*/
@media screen and (min-width: 640px) {
	//USEFUL FOR MOBILE RESPONSIVENESS
	.marginbottomsmlscreensonly {
		margin-bottom: 0;
	}
	.margintopsmlscreensonly {
		margin-bottom: 0;
	}
	//PADDING SPACING
	.paddingtopmed {
		padding-top: $spacingMedium;
	}
	.paddingbottommed {
		padding-bottom: $spacingMedium;
	}
	.paddingtoplrg {
		padding-top: $spacingMedium;
	}
	.paddingbottomlrg {
		padding-bottom: $spacingMedium;
	}
	.paddingtopxlrg {
		padding-top: $spacingMedium;
	}
	.paddingbottomxlrg {
		padding-bottom: $spacingMedium;
	}
	.paddingbottomlrglrgscreen {
		padding-bottom: $spacingMedium;
	}

	//MARGIN SPACING
	.margintopmed {
		margin-top: $spacingMedium;
	}
	.marginbottommed {
		margin-bottom: $spacingMedium;
	}
	.margintoplrg {
		margin-top: $spacingMedium;
	}
	.marginbottomlrg {
		margin-bottom: $spacingMedium;
	}
	.margintopxlrg {
		margin-top: $spacingMedium;
	}
	.marginbottomxlrg {
		margin-bottom: $spacingMedium;
	}
}
/**
* _variables - Large.
*/
@media screen and (min-width: 1024px) {
	//USEFUL FOR MOBILE RESPONSIVENESS
	.marginbottomsmlscreens {
		margin-bottom: 0;
	}
	.margintopsmlscreens {
		margin-bottom: 0;
	}
	//PADDING SPACING
	.paddingtoplrg {
		padding-top: $spacingLarge;
	}
	.paddingbottomlrg {
		padding-bottom: $spacingLarge;
	}
	.paddingtopxlrg {
		padding-top: $spacingXLarge;
	}
	.paddingbottomxlrg {
		padding-bottom: $spacingXLarge;
	}

	//MARGIN SPACING
	.margintoplrg {
		margin-top: $spacingLarge;
	}
	.marginbottomlrg {
		margin-bottom: $spacingLarge;
	}
	.margintopxlrg {
		margin-top: $spacingXLarge;
	}
	.marginbottomxlrg {
		margin-bottom: $spacingXLarge;
	}
	.margingbottomlrglrgscreenonly {
		margin-bottom: $spacingLarge;
	}

	//USEFUL FOR DESKTOP RESPONSIVENESS
	.marginbottomsml_lrgscreensonly {
		margin-bottom: $spacingSmall;
	}
	.margintopsml_lrgscreensonly {
		margin-bottom: $spacingSmall;
	}
	.marginbottomlrg_lrgscreensonly {
		margin-bottom: $spacingLarge;
	}
	.margintoplrg_lrgscreensonly {
		margin-bottom: $spacingLarge;
	}
}
/**
* _variables - XL.
*/
@media screen and (min-width: 1200px) {
}
/**
* _variables - XXL.
*/
@media screen and (min-width: 1440px) {
}